<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Welcome to UCCG Manage System</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!--navigation-->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">
		<img src="CDS_LOGO.svg" width="30" height="30" class="d-inline-block align-top" alt="">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#homeNavbar"
			aria-controls="homeNavbar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="homeNavbar">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item ">
				<a class="nav-link" href="#">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Schedule</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Introduction</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">History about Us</a>
			</li>
             <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User Pages</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="{{url_for('infoEdit')}}" class="dropdown-item"><img src="../static/用户符号.svg" style="width: 20px; height:20px;" aria-hidden="true"> Personal Info</a>
                        {{% if session.get('Authority') >= 1 %}
                        <a class="dropdown-item" href="{{url_for('signupCompition')}}"><img src="../static/游戏手柄.svg" height="30" width="30"> Competition Sign up</a>
                        {% endif %}
                        <a href="{{url_for('TeamRegistration')}}" class="dropdown-item"><img src="../static/标靶.svg" style="width: 20px; height:20px;" aria-hidden="true"> Player Registration</a>
                    </div>
             </li>
			{% if session.get('Authority') > 2 %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Administrator<span class="caret"></span></a>
				<div class="dropdown-menu">
					{% if session.get('Authority') >=4 %}
					<a href="{{url_for('information_edit')}}" class="dropdown-item"><img src="../static/身份证.svg" style="width: 20px; height:20px;" aria-hidden="true"> Information Editing</a>
					{% endif %}
					<a href="{{url_for('schedule_mange')}}" class="dropdown-item"><img src="../static/日程安排.svg" style="width: 20px; height:20px;" aria-hidden="true"> Schedule Editing</a>
				</div>
			</li>
			{% endif %}
		</ul>
		<ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('infoEdit')}}">Hi,{{session.get('username')}}</a>
            </li>
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('logout')}}">Logout</a>
			</li>
		</ul>
	</div>
</nav>

<br><h1 class="h1 mb-3 font-weight-normal">
	&nbsp;<img src="schedule.svg" width="40" height="40" class="d-inline-block align-top" alt="">&nbsp;Create a schedule:
</h1>
<div class="container-fluid bg-light" style="border:1px solid steelblue;padding-bottom: 20px ;padding-top: 20px">
	<div>
		<form accept-charset="UTF-8" role="form" action="{{ url_for('schedule') }}" method="post">
            <fieldset>
                <div>
                    <br><h4 class="font-weight-normal">Step One:</h4>
                    <h5 class="font-weight-normal">Select type of competition:</h5>
                    <input type="radio" name="game_type" value="knock" checked>Knockout<br>
                    <input type="radio" name="game_type" value="round">Round Robin<br><br>
                    <h5 class="font-weight-normal">Select limitation of competition:</h5>
                    <input type="radio" name="game_limit" value="team" checked>Team<br>
                    <input type="radio" name="game_limit" value="individual">Individual<br><br>
                    <h5 class="font-weight-normal">Maximum participants(if type is Team means the number of team)</h5>
                    <input type="number" max="100" min="1" name="max_num" required>
                    <h5 class="font-weight-normal">Input the name of the match:</h5>
                    <input name="match_name" type="text" required><br><br>
                    <input class="btn btn-primary" style="width: 250px" type="submit" value="Next-->">
                </div>
            </fieldset>
		</form>
        <br><br>
	</div>
    <a class="btn btn-primary" href="ScheduleManagement">Back</a>
</div>
</div>


<p class="mt-5 mb-3 text-muted text-center">©UIC-UCAS 2017-2019</p>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>