<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Welcome to UCCG Manage System</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="../static/CDS_LOGO.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#homeNavbar"
            aria-controls="homeNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="homeNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Introduction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">History about Us</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('hello_world')}}">Login</a>
            </li>
        </ul>
    </div>
</nav>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message[1] }}
                </div>
            {% endif %}

            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                </button>
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

<br>
<h1 class="h1 mb-3 font-weight-normal text-center">Reset your Lost Account</h1><br>
<form action="" method="post" role="form">
{{ form.csrf_token}}
    <div class="form-group">
    <div class="container-fluid bg-light" style="border:1px solid steelblue;padding-bottom: 20px ;padding-top: 20px">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-10">
                <div class="row">
                    <div class="col-4">

                        <label for="student_id" class="sr-only"></label>Please input your Student ID:<br>
                        <input type="text" id="student_id" name="student_id" placeholder=""><br/>

                        <br><br><img src="../static/CDS_LOGO.svg" width="250" height="250"><br>

                    </div>
                    <div class="col-1">
                        <div style="float:left;margin-top: 30px;width: 1px;height:400px; background: darkgray;"></div>
                    </div>
                    <div class="col-7">
                        Security Question1:  {{session.get('Q1')}}<br>
                        Answer1:<br>
                        <input type="text" id="sanswer1" name="sanswer1" class="form-control col-7" ><br>
                        Security Question2:  {{session.get('Q2')}}<br>
                        Answer2:<br>
                        <input type="text" id="sanswer2" name="sanswer2" class="form-control col-7" ><br>
                        Your phone number:<br>
                        <input type="tel" id="phone" name="phone" class="col-4">
                        <br><br>
                        <button class="btn btn-sm btn-primary" type="submit">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>

<p class="mt-5 mb-3 text-muted text-center">©UIC-UCAS 2017-2019</p>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>