<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Welcome to UCCG Manage System</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">
		<img src="../static/CDS_LOGO.svg" width="30" height="30" class="d-inline-block align-top" alt="">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#homeNavbar"
			aria-controls="homeNavbar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="homeNavbar">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item ">
				<a class="nav-link" href="#">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Schedule</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Introduction</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">History about Us</a>
			</li>
             <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User Pages</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="{{url_for('infoEdit')}}" class="dropdown-item"><img src="../static/用户符号.svg" style="width: 20px; height:20px;" aria-hidden="true"> Personal Info</a>
                        {% if session.get('Authority') >= 1 %}
                        <a href="{{url_for('signupCompition')}}" class="dropdown-item"><img src="../static/游戏手柄.svg" style="width: 20px; height:20px;" aria-hidden="true"> Competition Sign up</a>
                        {% endif %}
                        <a href="{{url_for('TeamRegistration')}}" class="dropdown-item"><img src="../static/标靶.svg" style="width: 20px; height:20px;" aria-hidden="true"> Player Registration</a>
                    </div>
             </li>
			{% if session.get('Authority') > 2 %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Administrator<span class="caret"></span></a>
				<div class="dropdown-menu">
					{% if session.get('Authority') >=4 %}
					<a href="{{url_for('information_edit')}}" class="dropdown-item"><img src="../static/身份证.svg" style="width: 20px; height:20px;" aria-hidden="true"> Information Editing</a>
					{% endif %}
					<a href="{{url_for('schedule_mange')}}" class="dropdown-item"><img src="../static/日程安排.svg" style="width: 20px; height:20px;" aria-hidden="true"> Schedule Editing</a>
				</div>
			</li>
			{% endif %}
		</ul>
		<ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('infoEdit')}}">Hi,{{session.get('username')}}</a>
            </li>
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('logout')}}">Logout</a>
			</li>
		</ul>
	</div>
</nav>
    <div class="row"><br><br></div>
    <div class="row"><br><br></div>
    <div class="row"><br><br></div>
    <div class="row"><br><br></div>
<div class="container-fluid bg-light" style="border:1px solid steelblue;padding-bottom: 20px ;padding-top: 20px">

    <div class="row justify-content-center">
        <div class="col-4">
            <a href="CreateSchedule" class="btn btn-primary btn-block" value="Create a new match" >Create a New Match</a>
            <a href="EditSchedule" class="btn btn-primary btn-block"  value="Edit a exist match">Edit a exist Match</a>
        </div>
    </div>
</div>
    <div class="row"><br><br></div>
    <div class="row"><br><br></div>
    <div class="row"><br><br></div>
<p class="mt-5 mb-3 text-muted text-center">©UIC-UCAS 2017-2019</p>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>