<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Welcome to UCCG Manage System</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1 class="h1 mb-3 font-weight-normal text-center">
   Game Name : {{ event_name }} There are There is(are) {{ (count[0])[1] }} participant(s)
</h1>
<div class="row">
    <div class=" text-center offset-md-1 col-10">
        <form method="post">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>PARTICIPATES</th>
                </tr>
                </thead>
                {% if participants != None %}
                {% for each in participants %}
                    <tr>
                        <td>{{ each[1] }}</td>
                    </tr>
                {% endfor %}
                {% endif %}
            </table>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-1 offset-1">
        <a href="EditSchedule" class="btn btn-primary">Back</a>
    </div>
</div>

<p class="mt-5 mb-3 text-muted text-center">©UIC-UCAS 2017-2019</p>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>